.bg-gray {
  background: #bdc3c7;
}
.bg-blue {
  background: #74b9ff;
}
.bg-red {
  background: #fab1a0;
}
.bg-green {
  background: #55efc4;
}

.stretch {
  display: flex;
  align-items: stretch;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.center {
  display: flex;
  align-items: center;
}
