.parentBox {
  background-color: gray;
  height: 100vh;
  /* flexboxを使って子要素の配置を指定しましょう */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

}

.box {
  width: 10%;
  height: 20vh;
}

.bg-red {
background: #fab1a0;
}

.bg-blue {
background: #74b9ff;
}

.bg-green {
background: #55efc4;
}