.bg-gray {
  background: #bdc3c7;
}
.bg-blue {
  background: #74b9ff;
}
.bg-red {
  background: #fab1a0;
}
.bg-green {
  background: #55efc4;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}